chromadb==1.0.15
fireworks-ai==0.19.16
fireworks==2.0.4
langchain==0.3.27
langchain_community==0.3.27
langchain_core==0.3.72
langchain_google_genai==2.1.8
langchain_text_splitters==0.3.9
langgraph==0.6.2
markdown2==2.5.4
pandas==2.3.1
pydantic==2.11.7
pyprojroot==0.3.0
python-dotenv==1.1.1
PyYAML==6.0.2
PyYAML==6.0.2
spacy==3.8.7
streamlit==1.47.1
typing_extensions==4.14.1
